/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
}

/* Header */
.header {
    background-color: #6c5ce7;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Seções de Pedidos */
.section {
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h2 {
    color: #6c5ce7;
}

.orders {
    margin-top: 20px;
}

/* Botões */
.action-button {
    background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-bottom: 10px;
}

.action-button:hover {
    background-color: #5e54d8;
}

/* Tela Lateral */
.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1000;
    overflow-y: auto;
}

.side-panel-content {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #6c5ce7;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5e54d8;
}

textarea {
    resize: none;
}

.pagamento input {
    margin-left: 10px;
}
