body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
}

.header {
    background-color: #6c5ce7;
    color: white;
    padding: 15px;
    text-align: center;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% { background-color: #6c5ce7; }
    50% { background-color: #9b59b6; }
    100% { background-color: #6c5ce7; }
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.section {
    width: 30%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: center;
    color: #6c5ce7;
}

.order {
    margin-bottom: 15px;
}

button {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5e54d8;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    overflow-y: auto;
}

.popup-content input, .popup-content textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.payment-options label {
    margin-right: 10px;
}

.campo-troco {
    display: none;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5e54d8;
}
